.button-group {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.buttonlabel {
  font-size: 15px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
  position: relative;
  border: 1px solid black !important;
  transition: background-color 0.3s, color 0.3s;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px !important;
  border: 1px solid black;
}

.buttonlabel:hover {
  background-color: black !important;
  color: white !important;
}

.buttonlabel.active {
  background-color: #6e55ff !important;
  color: white !important;
}
